@font-face {
  font-family: "Satoshi";
  src: url("fonts/satoshi-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Integral";
  src: url("fonts/integralcf-demibold.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#sign-up-container {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 10px 100px;
  box-sizing: border-box;
}

#sign-up-container p {
  color: white;
  font-weight: 400;
  font-size: 14px;
  font-family: "Satoshi", sans-serif;
  padding: 0;
  margin: 0;
}

#sign-up-container a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  font-family: "Satoshi", sans-serif;
  padding: 0;
  margin: 0;
}

#sign-up-container img {
  width: 12px;
  height: 12px;
}

#close-mirror {
  opacity: 0;
}

#temp-space {
  height: 200px;
}

#menu-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  padding: 24px 100px;
  box-sizing: border-box;
  gap: 40px;
}

#menu-container a {
  text-decoration: none;
}

#hamburguer-menu {
  display: none;
}

#logo {
  font-family: "Integral", sans-serif;
  color: black;
  font-size: 32px;
  font-weight: 700;
}

#navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#navigation-container a {
  font-family: "Satoshi", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

#navigation-container a img {
  vertical-align: middle;
}

#spacer {
  display: none;
}

#search-container {
  display: flex;
  background-color: #f0f0f0;
  align-items: center;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 100px;
  gap: 12px;
  flex-grow: 1;
}

#search-container img {
  width: 20px;
  height: 20px;
  opacity: 40%;
}

#search-container input {
  border: none;
  background-color: transparent;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  opacity: 40%;
  width: 100%;
}

#search-container input:focus {
  outline: none;
  box-shadow: none;
}

#user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

#search-icon {
  display: none;
}

#user-container img {
  width: 24px;
  height: 24px;
}

#brands-container {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 22px 100px;
}

.brand-item {
  margin: 22px 20px;
  height: 36px;
}

@media (max-width: 768px) {
  #sign-up-container {
    font-size: 12px;
  }

  #sign-up-container a {
    font-size: 12px;
  }

  #sign-up-container img {
    opacity: 0;
  }

  .brand-item {
    margin: 16px 12px;
    height: 24px;
  }

  #menu-container {
    gap: 16px;
    padding: 20px 16px;
  }

  #hamburguer-menu {
    display: block;
  }

  #logo {
    font-size: 25px;
  }

  #navigation-container {
    display: none;
  }

  #spacer {
    display: block;
    flex-grow: 1;
  }

  #search-container {
    display: none;
  }

  #search-icon {
    display: block;
  }
}
