#hero-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 0 0 100px;
  width: 100%;
  background-color: #f2f0f1;
  gap: 30px;
  overflow: hidden;
  flex-wrap: wrap;
}

#hero-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
}

#hero-details-title {
  font-size: 64px;
  font-weight: 700;
  color: black;
  font-family: "Integral", sans-serif;
  line-height: 1.1;
}

#hero-details-description {
  font-size: 16px;
  font-weight: 400;
  color: #00000099;
  margin: 32px 0;
}

#hero-details-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 62px;
  padding: 16px 54px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  min-width: 210px;
  height: 52px;
}

#hero-details-button:hover {
  background-color: #333;
}

#hero-details-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
  row-gap: 20px;
  padding-bottom: 24px;
}

.hero-details-separator {
  width: auto;
  height: auto;
  min-width: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-details-separator-line {
  width: 1px;
  height: 100%;
  background-color: #0000001a;
}

.hero-details-stats-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}

.hero-details-stats-number {
  font-size: 40px;
  font-weight: 500;
  color: black;
}

.hero-details-stats-text {
  font-size: 16px;
  font-weight: 400;
  color: #00000099;
}

#hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

#hero-image {
  height: 663px;
  width: 663px;
  background-image: url("../images/hero-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (max-width: 768px) {
}
