@media (max-width: 768px) {
  #sign-up-container {
    font-size: 12px;
    padding: 10px 10px;
  }

  #sign-up-container a {
    font-size: 12px;
  }

  #sign-up-container img {
    opacity: 0;
  }

  #brands-container {
    padding: 40px 16px;
  }

  .brand-item {
    height: 24px;
  }

  #menu-container {
    gap: 16px;
    padding: 20px 16px;
  }

  #hamburguer-menu {
    display: block;
  }

  #logo {
    font-size: 25px;
  }

  #navigation-container {
    display: none;
  }

  #spacer {
    display: block;
    flex-grow: 1;
  }

  #search-container {
    display: none;
  }

  #search-icon {
    display: block;
  }

  #news-arrivals {
    font-size: 32px;
  }

  .view-all-button {
    font-size: 14px;
    margin: 24px auto;
    height: 46px;
    width: calc(100% - 32px);
  }

  .line {
    width: calc(100% - 32px);
    margin: 64px 16px;
  }

  #top-selling {
    font-size: 32px;
    margin: 40px 0 0 0;
  }

  .browse-style-container {
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 50px 16px 0 16px;
    box-sizing: border-box;
    gap: 16px;
  }

  .grid-title {
    font-size: 32px;
    margin: 0 0 12px 0;
  }

  .grid-item {
    height: 190px;
  }

  .grid-item p {
    font-size: 24px;
    margin: 16px 24px;
  }

  #customes {
    font-size: 32px;
  }

  .review-carousel-item-container {
    min-width: 358px;
    min-height: 186px;
  }

  .login-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .login-container p {
    text-align: center;
    margin-bottom: 16px;
    font-size: 32px;
  }

  #add-email-input {
    width: 311px;
    height: 42px;
    max-width: 349px;
  }

  #subscribe-button {
    width: 311px;
    height: 42px;
    max-width: 349px;
  }
}
