#newsletter-background-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 100px;
  margin: 80px auto 0 auto;
  position: relative;
}

#newsletter-grey-background {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
}

#newsletter-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
  align-items: center;
  padding: 42px 64px;
  background-color: black;
  border-radius: 20px;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 1;
}

#newsletter-container p {
  font-family: "Integral", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: white;
  flex: 1;
  line-height: 1.1;
}

#newsletter-subscribe-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  min-width: 349px;
  gap: 16px;
}

#newsletter-email-input {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  background-color: white;
  border-radius: 100px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
}

#newsletter-email-input input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  color: black;
  opacity: 40%;
  width: 100%;
}

#newsletter-subscribe-button {
  border-radius: 100px;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 48px;
  font-weight: 500;
  border: 0px;
}

#newsletter-subscribe-button:hover {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  #newsletter-background-container {
    padding: 0 16px;
    margin: 40px auto 0 auto;
  }

  #newsletter-container {
    padding: 32px 24px;
  }

  #newsletter-container p {
    font-size: 32px;
  }

  #newsletter-subscribe-container {
    min-width: 100%;
  }
}
