#reviews-background-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 80px auto 0 auto;
  width: 100%;
  max-width: 1440px;
}

#reviews-title-container {
  display: flex;
  justify-content: start;
  align-items: end;
  max-width: 1440px;
  padding: 0 100px;
  width: 100%;
  gap: 18px;
}

#reviews-title-container img {
  cursor: pointer;
}

#reviews-title {
  font-family: "Integral", sans-serif;
  font-size: 48px;
  text-align: start;
  font-weight: 700;
  flex: 1;
}

#reviews-carousel-background-container {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;
  max-width: 1440px;
  position: relative;
}

#reviews-carousel-container {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  padding: 0 100px;
  margin: 40px 0 0 0;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
}

.reviews-blur {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  background-color: #ffffff8a;
  backdrop-filter: blur(2px);
  z-index: 1;
}

#reviews-carousel-blur-left {
  left: 0;
}

#reviews-carousel-blur-right {
  right: 0;
}

.reviews-carousel-item-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 28px 32px;
  width: 400px;
  min-width: 400px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: clip;
  border-radius: 20px;
  border: 1px solid #0000001a;
  background-color: white;
}

.reviews-name-container {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 4px;
}

.reviews-name-container p {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.reviews-item-content {
  font-size: 16px;
  font-weight: 400;
  color: #00000099;
  margin: 12px 0 0 0;
}

.reviews-stars-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}

.reviews-stars-container img {
  width: 23px;
  height: 23px;
}

@media (max-width: 768px) {
  #reviews-background-container {
    margin: 50px auto 0 auto;
  }

  #reviews-title-container {
    padding: 0 16px;
  }

  #reviews-title {
    font-size: 32px;
  }

  #reviews-carousel-container {
    gap: 20px;
    padding: 0 16px;
    margin: 20px 0 0 0;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
  }

  .reviews-blur {
    display: none;
  }

  .reviews-carousel-item-container {
    padding: 24px;
  }

  .reviews-name-container p {
    font-size: 16px;
    margin: 12px 0 0 0;
  }

  .reviews-item-content {
    font-size: 14px;
    margin: 8px 0 0 0;
  }

  .reviews-stars-container {
    gap: 5px;
  }

  .reviews-stars-container img {
    width: 20px;
    height: 20px;
  }
}
